<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
</head>

<body>
    <h2>6 semanas de gravidez</h2>
    <h3>Neste início de gestação, o embrião se parece com um girino. O sistema nervoso está se desenvolvendo a partir do
        tubo neural e, provavelmente, os primeiros sintomas, como os enjoos, já podem ter surgido</h3>
    <div>
        <p>Por crescer</p>
        <p>2024-04-08T21:24:58.010Z</p>
        <p>2024-04-08T21:44:10.948Z</p>
    </div>
    <img src="https://i.s3.glbimg.com/v1/AUTH_19863d4200d245c3a2ff5b383f548bb6/internal_photos/bs/2023/O/U/H4PLyGSAOvKljq04nU3Q/semana-6-gravidez-embriao-tamanho-feijao-preto.png"
        alt="imagem de capa">
</body>

</html>